/* Add Global styles here */
body {
    background:white;
    margin: 0px;
}

main {
    margin-left:20px;
    margin-right:20px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    
}
h1 {
    color:rgb(199, 56, 56);
    font-family:'Times New Roman', Times, serif;
    text-align: center;
}

.navbar ul{
    list-style-type: none;
    background-color: rgb(199, 56, 56); 
    padding: 5px;
    margin: 5px;
    overflow: hidden;
}

.navbar a{
    color:white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: white;
    color: black;
}

.navbar li{
    float:left;
}



img {
    width: 300px;
    height: 200px;
    margin: 10px;
    border-color: rgb(199, 56, 56);
    border-width: 4px;
    border-style: solid;
    border-radius: 10px;
}

table, th, td {
    float:left;
    border: 1px solid black;
    text-align: center;
}
h2 {

}


p {
    color:black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}


